.box{
    &-float{
        &-left{
            float: left;
        }
    }
    &-full{
        width: 100%;
    }
    &-title{
        width: 80%;
        margin: 0 10%;
        padding: 20px 0;
        color: $dark_gray_font;
        font:{
            size: ($_10px * 2) + $_6px;
        };
    }
    &-bold{
        font:{
            weight: bold;
        };
    }
    &-light{
        font:{
            weight: 300;
        };
    }
    &-text{
        color: $black;
        padding: 0 15px;
        font:{
            size: $_16px;
        };
    }
    &-uppercase{
        text:{
            transform: uppercase;
        };
    }
    &-center{
        text:{
            align: center;
        };
    }
    &-link{
        color: $red;
        font:{
            size: $_16px;
        };
        &:visited{
            color: $red;
        }
        &:hover, &:active{
            color: darken($red, 10%);
            text:{
                decoration: none;
            }
        }
    }
    &-image{
        display: block;
        margin: 0 auto;
        &-80{
            width: 80%;
            max-width: 360px;
        }
    }
    &-color{
        &-gray{
            color: $dark_gray_font;
        }
    }
    &-primary{
        font:{
            family: $primary_font;
        };
    }
    &-secondary{
        font:{
            family: $secondary_font;
        };
    }
    &-14{
        font:{
            size: $_14px;
        };
        @media screen and (min-width: 360px) {
            font:{
                size: $_10px + $_9px;
            };
        }
        @media screen and (min-width: 576px) {
            font:{
                size: ($_10px * 2) + $_9px;
            };
        }
        @media screen and (min-width: 768px) {
            font:{
                size: ($_10px * 2) + $_4px;
            };
        }
        @media screen and (min-width: 992px) {
            font:{
                size: $_10px + $_9px;
            };
        }
        @media screen and (min-width: 1200px) {
            font:{
                size: $_14px;
            };
        }
    }
    &-16{
        font:{
            size: $_16px;
        };
        @media screen and (min-width: 360px) {
            font:{
                size: ($_10px * 2) + $_4px;
            };
        }
        @media screen and (min-width: 576px) {
            font:{
                size: ($_10px * 3) + $_1px;
            };
        }
        @media screen and (min-width: 768px) {
            font:{
                size: ($_10px * 2) + $_6px;
            };
        }
        @media screen and (min-width: 992px) {
            font:{
                size: ($_10px * 2) + $_1px;
            };
        }
        @media screen and (min-width: 1200px) {
            font:{
                size: $_16px;
            };
        }
    }
    &-18{
        font:{
            size: $_16px + $_2px;
        };
        @media screen and (min-width: 360px) {
            font:{
                size: ($_10px * 2) + $_6px;
            };
        }
        @media screen and (min-width: 576px) {
            font:{
                size: ($_10px * 3) + $_3px;
            };
        }
        @media screen and (min-width: 768px) {
            font:{
                size: ($_10px * 2) + $_8px;
            };
        }
        @media screen and (min-width: 992px) {
            font:{
                size: ($_10px * 2) + $_3px;
            };
        }
        @media screen and (min-width: 1200px) {
            font:{
                size: $_16px + $_2px;
            };
        }
    }
    &-20{
        font:{
            size: $_16px + $_4px;
        };
        @media screen and (min-width: 360px) {
            font:{
                size: ($_10px * 2) + $_8px;
            };
        }
        @media screen and (min-width: 576px) {
            font:{
                size: ($_10px * 3) + $_5px;
            };
        }
        @media screen and (min-width: 768px) {
            font:{
                size: ($_10px * 3);
            };
        }
        @media screen and (min-width: 992px) {
            font:{
                size: ($_10px * 2) + $_5px;
            };
        }
        @media screen and (min-width: 1200px) {
            font:{
                size: $_16px + $_4px;
            };
        }
    }
    &-cursor{
        &-pointer{
            cursor: pointer;
        }
    }
    &-webkit{
        display: -webkit-box;
    }
}