.btn{
    color: $white;
    &:hover, &:active, &:visited{
        color: $white;
    }
    &-sign{
        width: 100%;
        color: $white;
        font:{
            size: ($_10px * 2) + $_5px;
            weight: bold;
        };
        padding:{
            top: 10px;
            bottom: 10px;
        };
        border:{
            radius: 0;
        };
        @media screen and (min-width: 360px) {
            width: 70%;
            max-width: 360px;
            font:{
                size: ($_10px * 3) + $_5px;
                weight: bold;
            };
        }
    }
    &-return{
        position: absolute;
        right: 70px;
        top: 30px;
    }
}