.carousel{
    width: 100%;
    &-selectors{
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
        &-item{
            position: relative;
            flex: 0 1 auto;
            width: 10px;
            height: 10px;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            background:{
                color: $white;
            };
            border-radius: 100%;
        }
    }
    .active{
        background:{
            color: $red;
        };
    }
    &-inner{

    }
    &-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        background:{
            color: rgba($black, 0.5)
        };
    }
    &-item{
        height: calc(100vh - 51px);
        background:{
            size: cover;
            position: center;
            repeat: no-repeat;
        };
        @media screen and (min-width: 360px) {
            height: calc(100vh - 51px);
        }
        @media screen and (min-width: 576px) {
            height: calc(100vh - 51px);
        }
        @media screen and (min-width: 768px) {
            height: calc(60vh - 51px);
        }
        @media screen and (min-width: 992px) {
            height: calc(60vh - 51px);
        }
        @media screen and (min-width: 1200px) {
            height: calc(70vh - 51px);
        }
    }
    &-caption{
        right: 15%;
        bottom: inherit;
        left: 20px;
        text-align: center;
        top: 20px;
        padding: 0;
        text:{
           align: left;
           transform: uppercase;
        };
        &-title{
            color: $white;
            line-height: 46px;
            width: 100%;
            font:{
                size: ($_10px *3) + $_8px;
                weight: bold;
            };
            @media screen and (min-width: 576px) {
                font:{
                    size: ($_10px *2) + $_8px;
                };
            }
            @media screen and (min-width: 768px) {
                font:{
                    size: ($_10px *3) + $_8px;
                };
            }
        }
        &-subtitle{
            margin:{
                top: 20px;
                bottom: 0;
            };
            color: $yellow;
            font:{
                size: ($_10px *2) + $_3px;
                weight: bold;
            };
            @media screen and (min-width: 360px) {
            }
            @media screen and (min-width: 576px) {
                font:{
                    size: ($_10px *2) + $_3px;
                };
                margin:{
                    top: 10px;
                };
            }
            @media screen and (min-width: 768px) {
                margin:{
                    top: 20px;
                };
                font:{
                    size: ($_10px *2) + $_3px;
                };
            }
        }
        &-text{
            color: $white;
            line-height: 46px;
            width: 100%;
            font:{
                size: ($_10px *3) + $_4px;
                weight: bold;
            };
            @media screen and (min-width: 576px) {
                width: 100%;
                font:{
                    size: ($_10px *2) + $_4px;
                };
                line-height: ($_10px *2) + $_4px;
                margin:{
                    bottom: 5px;
                };
            }
            @media screen and (min-width: 768px) {
                margin:{
                    bottom: $_10px + $_6px;
                };
                line-height: 46px;
            }
        }
        @media screen and (min-width: 360px) {
            max-width: 360px;
        }
        @media screen and (min-width: 576px) {
            max-width: 576px;
            left: 20px;
            top: 10px;
        }
        @media screen and (min-width: 768px) {
            max-width: 768px;
            left: 50px;
            top: 40px;
        }
        @media screen and (min-width: 992px) {
            max-width: 768px;
            left: 50px;
            top: 40px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 768px;
            left: 50px;
            top: 40px;
        }
    }
}

