.modal{
    &-title{
        line-height: 70px;
    }
    &-logo{
        margin: 0 10px 0 10px;
        width: 70px;
        height: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &-image{
        float: left;
        margin: 0 20px 0 0;
        box-sizing: border-box;
    }
    &-border{
        &-left{
            border-left: 3px solid $primary_bg;
            padding-left: 20px;
            margin-left: 20px;
        }
    }
}