.nav{
    float: left;
    width: 100%;
    border:{
        bottom: 1px solid $white;
    };
    font-weight: bold;
    padding: 12px 0 10px 0;
    &-logo{
        background:{
            repeat: no-repeat;
            position: center left;
        };
        @include prefix(background-size, 76px 18px);
        width: 80px;
        height: 18px;
        overflow: hidden;
        text-indent: -200px;
        display: block;
    }
    &-item{
        width: 100%;
        padding: {
            top: 10px;
            bottom: 10px;
            left: 5px;
        };
        &-noborder{
            border: none;
            @media screen and (min-width: 576px){
                border: none;
            }
        }
        &-border{
            border:{
                left: none;
            }
            @media screen and (min-width: 576px) {
                border:{
                    left: 1px solid $white;
                }
            }
        }
        &-logo{
            padding:{
                left: 3px;
            };
            @media screen and (min-width: 576px) {
                padding:{
                    left: 0;
                };
            }
        }
        &:hover, &:active{
            background-color: darken($dark_gray, 10%);
        }
        @media screen and (min-width: 576px) {
            width: auto;
            padding: 0 10px 0 11px;
            &:hover, &:active{
                background-color: transparent   ;
            }
        }
    }
    &-link{
        padding: 0;
        font:{
            family: $secondary_font;
            size: $_12px;
        };
        color: $white;
        &:visited{
            color: $white;
        }
        &:hover, &:active{
            color: $white;
            text:{
                decoration: underline;
            };
        }
        @media screen and (min-width: 576px) {
            text:{
                align: left;
            };
        }
    }
}