*{
    @include prefix(transition, all 0.3s ease-out);
}

p{
    color: #000;
    font-size: 1em;
}

.slick-slide{
    opacity: 0.5;
    &.slick-active{
        opacity: 1;
    }
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background:{
        color: $white;
        image: url('../images/preloader.gif');
        position: center center;
        repeat: no-repeat;
        size: 150px;
    }
}
