$primary_bg: #c10e05;
$primary_border: #9d0400;
$white: #ffffff;
$dark_gray: #404040;
$dark_gray_font: #3c3c3b;
$black: #000;
$red: #d32127;
$yellow: #ffc617;

$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'Roboto', sans-serif;

$_1px: 0.063em;
$_2px: 0.125em;
$_3px: 0.188em;
$_4px: 0.25em;
$_5px: 0.313em;
$_6px: 0.375em;
$_7px: 0.438em;
$_8px: 0.5em;
$_9px: 0.563em;
$_10px: 0.625em;
$_11px: 0.688em;
$_12px: 0.8em;
$_13px: 0.813em;
$_14px: 0.875em;
$_15px: 0.938em;
$_16px: 1.000em;