.l-footer{
    &-gray{
        background:{
            color: $dark_gray;
        };
    }
    &-left{
        float: left;
        text:{
            align: left;
        };
    }
    &-copyright{
        float: left;
        width: 100%;
        color: $white;
        padding: 12px 0 10px 0;
        text:{
            align: center;
        };
        font:{
            size: $_11px;
        };
        @media screen and (min-width: 360px) {
            text:{
                align: left;
            };
        }
    }
}