.l-header{
    padding:{
        top: 7px;
        bottom: 7px;
    };
    &-logo{
        height: 40px;
    }
    &-main{
        background:{
            color: $primary_bg;
        };
        border:{
            bottom:{
                color: $primary_border;
                style: solid;
                width: 4px;
            };
        };
    }
    &-center{
        text:{
            align: center;
        };
    }
}

