.l-row{
    margin-bottom: 40px;
}
.l-grid{
    &-image{
        display: inline-block;
        width: 50%;
        height: 140px;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        @media screen and (min-width: 360px) {
            background-size: 40%;
        }
        @media screen and (min-width: 576px) {
            background-size: 35%;
            width: 50%;
            height: 145px;
        }
        @media screen and (min-width: 768px) {
            background-size: 50%;
            width: 25%;
            height: 130px;
        }
        @media screen and (min-width: 992px) {
            background-size: 60%;
            width: 12.5%;
        }
        @media screen and (min-width: 1200px) {
            background-size: 50%;
        }
        &-large{
            display: inline-block;
            width: 50%;
            height: 140px;
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
            float: left;
            @media screen and (min-width: 360px) {
                background-size: 40%;
            }
            @media screen and (min-width: 576px) {
                background-size: 40%;
                width: 50%;
                height: 145px;
            }
            @media screen and (min-width: 768px) {
                background-size: 35%;
                width: 50%;
                height: 145px;
            }
            @media screen and (min-width: 992px) {
                background-size: 50%;
                width: 25%;
                height: 130px;
            }
            @media screen and (min-width: 1200px) {
                background-size: 50%;
            }
    }
    }
}
.l-rcarousel{
    &-box{
        margin:{
            bottom: 20px;
        };
    }
    &-image{
        width: 100%;
        display: inline-block;
        margin:{
            bottom: 10px;
        };
    }
}