{% extends 'hotsite/structure.html' %}
{% block content %}
{% load staticfiles %}

{% static "" as baseUrl %}

<input type="hidden" id="staticRoot" value="{{baseUrl}}">

<main class="container-fluid">
	<section class="row">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-selectors carousel-indicators">
				{% for slide in slides %}
					<li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %} carousel-selectors-item"></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for slide in slides %}
				<div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" style="background-image: url('{{baseUrl}}uploads/{{slide.image}}')">
					<div class="carousel-mask"></div>
					<div class="carousel-caption d-md-block">
						<h5 class="carousel-caption-title">{{slide.title}}</h5>
						<h6 class="carousel-caption-subtitle">{{slide.subtitle}}</h6>
						<p class="carousel-caption-text">{{slide.text}}</p>
						<button class="btn btn-sign" data-toggle="modal" data-target="#operators" style="background-color: {{slide.button_color}};">{{slide.button_text}}</button>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="row l-row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-center">
			<h1 class="box-title box-bold box-uppercase box-color-gray">{{defaultConfigs.0.welcome_title}}</h1>
			<p class="box-text">
				{{defaultConfigs.0.welcome_text|safe}}
			</p>
		</div>
	</section>
	<section class="row l-row l-rcarousel">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-center">
			<h1 class="box-title box-bold box-uppercase box-color-gray">{{event_default.0.event_title}}</h1>
			<div id="rcarousel" class="l-rcarousel-box">
				{% for event in events %}
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 box-uppercase box-center">
						<h2 class="box-uppercase box-secondary box-20">{{event.date|date:"D"}} <strong>{{event.date|date:"d"}} de {{event.date|date:"M"}}</strong></h2>
						<img class="l-rcarousel-image" src="{{baseUrl}}uploads/{{event.image}}" width="100%" alt="">
						<h4 class="box-uppercase box-light box-secondary box-18">{{event.type_fight}}</h4>
						<h4 class="box-uppercase box-bold box-secondary box-16">{{event.fighter1}} <span style="color:#c10e05; ">x</span> {{event.fighter2}}</h4>
					</div>
				{% endfor %}
			</div>
			<button class="btn btn-sign" data-toggle="modal" data-target="#operators" style="background-color: {{event_default.0.events_button_color}}">{{event_default.0.events_button_text}}</button>
		</div>
	</section>
	<section class="row l-row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-center">
			<img class="box-image box-image-80" src="{{baseUrl}}uploads/{{devicesArea.0.image}}" alt="">
			<p class="box-text box-bold box-uppercase box-color-gray">
				{{devicesArea.0.text}}
			</p>
			<a href="{{devicesArea.0.button_link}}" class="box-link box-bold box-uppercase" target="_blank">Conheça >></a>
		</div>
	</section>
	<section class="row l-row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-center">
			<p class="box-text box-bold box-color-gray">
				Escolha sua operadora e não perca nenhuma luta!
			</p>
			<div class="l-grid">
				{% for operator in operators %}
				<span id="operator_{{operator.id}}" data-toggle="modal" data-target="#operators" class="l-grid-image box-cursor-pointer" alt="" style="background-image: url({{baseUrl}}uploads/{{operator.logo}});">
					<input type="hidden" value="{{operator.name}}" class="operator_name">
					<input type="hidden" value="{{operator.logo}}" class="operator_logo">
					<input type="hidden" value="{{operator.tel1}}" class="operator_tel1">
                    <input type="hidden" value="{{operator.text_tel1}}" class="operator_text_tel1">
                    <input type="hidden" value="{{operator.tel2}}" class="operator_tel2">
                    <input type="hidden" value="{{operator.text_tel2}}" class="operator_text_tel2">
					<input type="hidden" value="{{operator.site}}" class="operator_site">
					<input type="hidden" value="{{operator.extra_buy_mode}}" class="operator_extra_buy">
				</span>
				{% endfor %}
			</div>
		</div>
	</section>
</main>

{% endblock %}