{% load staticfiles %}
{% static "" as baseUrl %}

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="operators" tabindex="-1" role="dialog" aria-labelledby="operatorsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div id="all_operators">
          <div class="modal-header">
            <h3 class="modal-title box-modal-title">Escolha uma Operadora</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="l-grid">
				{% for operator in operators %}
				<span id="operator_{{operator.id}}" class="l-grid-image l-grid-image-large box-cursor-pointer" alt="" style="background-image: url({{baseUrl}}uploads/{{operator.logo}});">
					<input type="hidden" value="{{operator.name}}" class="operator_name">
					<input type="hidden" value="{{operator.logo}}" class="operator_logo">
					<input type="hidden" value="{{operator.tel1}}" class="operator_tel1">
                    <input type="hidden" value="{{operator.text_tel1}}" class="operator_text_tel1">
                    <input type="hidden" value="{{operator.tel2}}" class="operator_tel2">
                    <input type="hidden" value="{{operator.text_tel2}}" class="operator_text_tel2">
					<input type="hidden" value="{{operator.site}}" class="operator_site">
					<input type="hidden" value="{{operator.extra_buy_mode}}" class="operator_extra_buy">
				</span>
				{% endfor %}
			</div>
          </div>
      </div>

      <div id="operator_specific">
          <div class="modal-header">
            <div class="modal-logo" id="modal_logo"></div>
            <h3 class="modal-title modal-title modal-border-left" id="operatorsLabel">Veja Como Assinar</h3>
            <button type="button" class="close btn-return" style="background-image: url({{baseUrl}}images/return.svg)">
            </button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body box-18">
            <p class="col-xs-12 box-float-left box-full" id="body-site"><img class="modal-image" src="{{baseUrl}}images/ico-internet.gif" alt=""> <a href="" class="box-link" id="modal_site" style="line-height: 47px;"><strong>Assine pelo Site</strong></a></p>
            <p class="col-xs-12 box-float-left box-full" id="body-tels"><img class="modal-image"src="{{baseUrl}}images/ico-telefone.gif" alt=""><span class="box-webkit" style="line-height: 47px;">Ligue para <strong class="box-link" id="modal_tel1"></strong> <span id="modal_text_tel1"></span> <span id="or">ou</span> <strong class="box-link" id="modal_tel2"></strong> <span id="modal_text_tel2"></span></span></p>
            <p class="col-xs-12 box-float-left box-full" id="body-extra"><img class="modal-image"src="{{baseUrl}}images/ico-controle.gif" alt=""><span id="modal_extra_buy" class="box-webkit"></span></p>
          </div>
      </div>
    </div>
  </div>
</div>