{% load staticfiles %}

{% static "" as baseUrl %}
<!doctype html>
<html lang="pt">
    <head>
        <title>Combate | Assine já o melhor do mundo das lutas.</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/slick/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/master.min.css' %}">
    </head>
    <body>
        <div id="preloader"></div>
        <header class="container-fluid l-header l-header-main l-header-center" style="background-color: {{defaultConfigs.0.top_bar}};">
            <img class="l-header-logo" src="{{baseUrl}}uploads/{{defaultConfigs.0.logo}}" alt="">
        </header>
        {% block content %}
        {% endblock %}
        <footer class="container-fluid l-footer l-footer-gray l-footer-left">
            <nav>
                <ul class="nav">
                {% for nav in navigationFooter %}
                    <li class="nav-item {% if forloop.counter0 == 0 %}nav-item-noborder{% else %}nav-item-border{% endif %} {% if nav.image != '' %}nav-item-logo{% endif %}"><a href="{{nav.link}}" style="background-image: url('{{baseUrl}}uploads/{{nav.image}}')" class="nav-link {% if nav.image != '' %}nav-logo{% endif %}" title="{{nav.name}}" target="_blank">{{nav.name}}</a></li>
				{% endfor %}
                </ul>
            </nav>
            <small class="l-footer-copyright">{{defaultConfigs.0.copyright_text}}</small>
        </footer>
        {% include "./modal.html" %}

        <script src="{% static 'js/vendor/jquery/jquery-3.2.1.slim.min.js' %}"></script>
        <script src="{% static 'js/vendor/popper/popper.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/slick/slick.min.js' %}"></script>
        <script src="{% static 'js/master.min.js' %}"></script>
    </body>
</html>