@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700");
* {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

p {
  color: #000;
  font-size: 1em;
}

.slick-slide {
  opacity: 0.5;
}

.slick-slide.slick-active {
  opacity: 1;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #ffffff;
  background-image: url("../images/preloader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150px;
}

.l-row {
  margin-bottom: 40px;
}

.l-grid-image {
  display: inline-block;
  width: 50%;
  height: 140px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

@media screen and (min-width: 360px) {
  .l-grid-image {
    background-size: 40%;
  }
}

@media screen and (min-width: 576px) {
  .l-grid-image {
    background-size: 35%;
    width: 50%;
    height: 145px;
  }
}

@media screen and (min-width: 768px) {
  .l-grid-image {
    background-size: 50%;
    width: 25%;
    height: 130px;
  }
}

@media screen and (min-width: 992px) {
  .l-grid-image {
    background-size: 60%;
    width: 12.5%;
  }
}

@media screen and (min-width: 1200px) {
  .l-grid-image {
    background-size: 50%;
  }
}

.l-grid-image-large {
  display: inline-block;
  width: 50%;
  height: 140px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

@media screen and (min-width: 360px) {
  .l-grid-image-large {
    background-size: 40%;
  }
}

@media screen and (min-width: 576px) {
  .l-grid-image-large {
    background-size: 40%;
    width: 50%;
    height: 145px;
  }
}

@media screen and (min-width: 768px) {
  .l-grid-image-large {
    background-size: 35%;
    width: 50%;
    height: 145px;
  }
}

@media screen and (min-width: 992px) {
  .l-grid-image-large {
    background-size: 50%;
    width: 25%;
    height: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .l-grid-image-large {
    background-size: 50%;
  }
}

.l-rcarousel-box {
  margin-bottom: 20px;
}

.l-rcarousel-image {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.l-footer-gray {
  background-color: #404040;
}

.l-footer-left {
  float: left;
  text-align: left;
}

.l-footer-copyright {
  float: left;
  width: 100%;
  color: #ffffff;
  padding: 12px 0 10px 0;
  text-align: center;
  font-size: 0.688em;
}

@media screen and (min-width: 360px) {
  .l-footer-copyright {
    text-align: left;
  }
}

.l-header {
  padding-top: 7px;
  padding-bottom: 7px;
}

.l-header-logo {
  height: 40px;
}

.l-header-main {
  background-color: #c10e05;
  border-bottom-color: #9d0400;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.l-header-center {
  text-align: center;
}

.box-float-left {
  float: left;
}

.box-full {
  width: 100%;
}

.box-title {
  width: 80%;
  margin: 0 10%;
  padding: 20px 0;
  color: #3c3c3b;
  font-size: 1.625em;
}

.box-bold {
  font-weight: bold;
}

.box-light {
  font-weight: 300;
}

.box-text {
  color: #000;
  padding: 0 15px;
  font-size: 1em;
}

.box-uppercase {
  text-transform: uppercase;
}

.box-center {
  text-align: center;
}

.box-link {
  color: #d32127;
  font-size: 1em;
}

.box-link:visited {
  color: #d32127;
}

.box-link:hover, .box-link:active {
  color: #a71a1f;
  text-decoration: none;
}

.box-image {
  display: block;
  margin: 0 auto;
}

.box-image-80 {
  width: 80%;
  max-width: 360px;
}

.box-color-gray {
  color: #3c3c3b;
}

.box-primary {
  font-family: "Open Sans", sans-serif;
}

.box-secondary {
  font-family: "Roboto", sans-serif;
}

.box-14 {
  font-size: 0.875em;
}

@media screen and (min-width: 360px) {
  .box-14 {
    font-size: 1.188em;
  }
}

@media screen and (min-width: 576px) {
  .box-14 {
    font-size: 1.813em;
  }
}

@media screen and (min-width: 768px) {
  .box-14 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 992px) {
  .box-14 {
    font-size: 1.188em;
  }
}

@media screen and (min-width: 1200px) {
  .box-14 {
    font-size: 0.875em;
  }
}

.box-16 {
  font-size: 1em;
}

@media screen and (min-width: 360px) {
  .box-16 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 576px) {
  .box-16 {
    font-size: 1.938em;
  }
}

@media screen and (min-width: 768px) {
  .box-16 {
    font-size: 1.625em;
  }
}

@media screen and (min-width: 992px) {
  .box-16 {
    font-size: 1.313em;
  }
}

@media screen and (min-width: 1200px) {
  .box-16 {
    font-size: 1em;
  }
}

.box-18 {
  font-size: 1.125em;
}

@media screen and (min-width: 360px) {
  .box-18 {
    font-size: 1.625em;
  }
}

@media screen and (min-width: 576px) {
  .box-18 {
    font-size: 2.063em;
  }
}

@media screen and (min-width: 768px) {
  .box-18 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 992px) {
  .box-18 {
    font-size: 1.438em;
  }
}

@media screen and (min-width: 1200px) {
  .box-18 {
    font-size: 1.125em;
  }
}

.box-20 {
  font-size: 1.25em;
}

@media screen and (min-width: 360px) {
  .box-20 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 576px) {
  .box-20 {
    font-size: 2.188em;
  }
}

@media screen and (min-width: 768px) {
  .box-20 {
    font-size: 1.875em;
  }
}

@media screen and (min-width: 992px) {
  .box-20 {
    font-size: 1.563em;
  }
}

@media screen and (min-width: 1200px) {
  .box-20 {
    font-size: 1.25em;
  }
}

.box-cursor-pointer {
  cursor: pointer;
}

.box-webkit {
  display: -webkit-box;
}

.btn {
  color: #ffffff;
}

.btn:hover, .btn:active, .btn:visited {
  color: #ffffff;
}

.btn-sign {
  width: 100%;
  color: #ffffff;
  font-size: 1.563em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
}

@media screen and (min-width: 360px) {
  .btn-sign {
    width: 70%;
    max-width: 360px;
    font-size: 2.188em;
    font-weight: bold;
  }
}

.btn-return {
  position: absolute;
  right: 70px;
  top: 30px;
}

.carousel {
  width: 100%;
}

.carousel-selectors {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-selectors-item {
  position: relative;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: #ffffff;
  border-radius: 100%;
}

.carousel .active {
  background-color: #d32127;
}

.carousel-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item {
  height: calc(100vh - 51px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 360px) {
  .carousel-item {
    height: calc(100vh - 51px);
  }
}

@media screen and (min-width: 576px) {
  .carousel-item {
    height: calc(100vh - 51px);
  }
}

@media screen and (min-width: 768px) {
  .carousel-item {
    height: calc(60vh - 51px);
  }
}

@media screen and (min-width: 992px) {
  .carousel-item {
    height: calc(60vh - 51px);
  }
}

@media screen and (min-width: 1200px) {
  .carousel-item {
    height: calc(70vh - 51px);
  }
}

.carousel-caption {
  right: 15%;
  bottom: inherit;
  left: 20px;
  text-align: center;
  top: 20px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.carousel-caption-title {
  color: #ffffff;
  line-height: 46px;
  width: 100%;
  font-size: 2.375em;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .carousel-caption-title {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption-title {
    font-size: 2.375em;
  }
}

.carousel-caption-subtitle {
  margin-top: 20px;
  margin-bottom: 0;
  color: #ffc617;
  font-size: 1.438em;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .carousel-caption-subtitle {
    font-size: 1.438em;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption-subtitle {
    margin-top: 20px;
    font-size: 1.438em;
  }
}

.carousel-caption-text {
  color: #ffffff;
  line-height: 46px;
  width: 100%;
  font-size: 2.125em;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .carousel-caption-text {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption-text {
    margin-bottom: 1em;
    line-height: 46px;
  }
}

@media screen and (min-width: 360px) {
  .carousel-caption {
    max-width: 360px;
  }
}

@media screen and (min-width: 576px) {
  .carousel-caption {
    max-width: 576px;
    left: 20px;
    top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption {
    max-width: 768px;
    left: 50px;
    top: 40px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-caption {
    max-width: 768px;
    left: 50px;
    top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-caption {
    max-width: 768px;
    left: 50px;
    top: 40px;
  }
}

.modal-title {
  line-height: 70px;
}

.modal-logo {
  margin: 0 10px 0 10px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modal-image {
  float: left;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}

.modal-border-left {
  border-left: 3px solid #c10e05;
  padding-left: 20px;
  margin-left: 20px;
}

.nav {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  font-weight: bold;
  padding: 12px 0 10px 0;
}

.nav-logo {
  background-repeat: no-repeat;
  background-position: center left;
  -webkit-background-size: 76px 18px;
  -moz-background-size: 76px 18px;
  -ms-background-size: 76px 18px;
  -o-background-size: 76px 18px;
  background-size: 76px 18px;
  width: 80px;
  height: 18px;
  overflow: hidden;
  text-indent: -200px;
  display: block;
}

.nav-item {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.nav-item-noborder {
  border: none;
}

@media screen and (min-width: 576px) {
  .nav-item-noborder {
    border: none;
  }
}

.nav-item-border {
  border-left: none;
}

@media screen and (min-width: 576px) {
  .nav-item-border {
    border-left: 1px solid #ffffff;
  }
}

.nav-item-logo {
  padding-left: 3px;
}

@media screen and (min-width: 576px) {
  .nav-item-logo {
    padding-left: 0;
  }
}

.nav-item:hover, .nav-item:active {
  background-color: #272727;
}

@media screen and (min-width: 576px) {
  .nav-item {
    width: auto;
    padding: 0 10px 0 11px;
  }
  .nav-item:hover, .nav-item:active {
    background-color: transparent;
  }
}

.nav-link {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  color: #ffffff;
}

.nav-link:visited {
  color: #ffffff;
}

.nav-link:hover, .nav-link:active {
  color: #ffffff;
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  .nav-link {
    text-align: left;
  }
}
